<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-heading" data-cy="OrderCreateUpdateHeading" jhiTranslate="restApp.order.home.createOrEditLabel">Create or edit a Order</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="restApp.order.product" for="field_product">Product</label>
                    <input type="text" class="form-control" name="product" id="field_product" data-cy="product"
                           formControlName="product"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="restApp.order.cost" for="field_cost">Cost</label>
                    <input type="number" class="form-control" name="cost" id="field_cost" data-cy="cost"
                           formControlName="cost"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="restApp.order.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" data-cy="customer" name="customer" formControlName="customer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption" *ngFor="let customerOption of customers; trackBy: trackById">{{ customerOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
